.item_detail_container {
    padding: 50px;


    display: grid;

    grid-template-columns:1fr ;
    grid-template-rows: 50% 50%;

    grid-template-areas:'img'
                        'text';
}

.item_detail_container img {
    max-width: 100%;
    max-height: 100%;

    object-fit: cover;
    align-self: stretch;
    justify-self: center;
}
