.item_container {

    padding: 50px;


    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows:1fr ;

    grid-template-areas: 'img text';

}

.item_container img {
    grid-area: img;
}

.text_container {
    grid-area: text;

    display: flexbox;
    flex-direction: column;

    justify-content: space-between;
}